@import "compass";
@import "partials/variaveis";
@import "partials/normalize";
@import "partials/mixins";
@import "partials/base";
@import "partials/nav";
@import "partials/layout";
@import "compass/css3";

body {
	  background:$cor-fundo-site;
	 /* background-image: url(../images/45-degree-fabric-dark.png);*/
}
  .name.ng-valid {
    background: green;
  }
  .name.ng-dirty.ng-invalid-required {
      color: rgb(160, 78, 78);
  }
  .name.ng-dirty.ng-invalid-minlength {
      color: rgb(145, 111, 48);
  }

#container-principal  .col-md-3{



}
.icone-valido {
  color: green;
}
.icone-invalido{
  color: red;
}
.icone-min {
  color: orange;
}
.prox-jogo p{
  font-family: "Dosis";
  color: #fff;
  margin: 0;
  font-size: 20px;
  background-color: #272727;
  border: 1px solid #181717;
}
.prox-jogo p:last-child{
  font-family: "Dosis";
  color: #F7F7F7;
  margin: 0;
  font-size: 41px;
  text-shadow: 1px 1px 1px #000;
}
.prox-jg-container {

  background-color: #474040;
  padding-top: 21px;
/*  padding-bottom: 21px; */
}
.prox-jg-container a i {
  font-size: 39px;
  color: $cinza-escuro;

}
.prox-jg-container a i:hover {
  color: $amarelo;
}

#sobre {

}
#sobre span{
@include titulos-sections;
}
#sobre p:last-child {
  color: #FFFFFF;
  padding: 10px;
  /* border: 1px solid #2F2D2D; */
  font-size: 37px;
  font-family: "Dosis", verdana;

}

.sobre-mim {
    background-color: rgb(255, 203, 0);
}
.portfolio {

background-color: $cor-portfolio-box;
background-image: url(../images/ravenna.png);
}
.portfolio p span {
  @include titulos-sections;
}


.portfolio-box {
  @include portfolio-box;

  img {
    width: 100%;
    height: 200px;

  }


  .hover-box-portfolio {
  display: block;
  position: absolute;
  text-align: center;
  height: 100%;
  background-color: #181212;
  width: 100%;
  opacity: 0;

  img {
    width: 40px;
    height: 40px;
  }
}

}
.portfolio-box:hover .hover-box-portfolio {
  opacity: .9;

}

@media screen and (min-width: 992px) {
  .portfolio-box {
    margin:2%;

    .hover-box-portfolio a {

       color: #fff;
    display: block;
    top: 50%;
    padding-top: 30%;
    height: 100%;
    text-decoration: none;
    font-family: "Dosis",sans-serif, verdana;
    font-size: 16px;

    }
}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio-box {
    margin:2%;

    .hover-box-portfolio a {

    color: #fff;
    display: block;
    top: 50%;
    padding-top: 20%;
    height: 100%;
    text-decoration: none;
    font-family: "Dosis", sans-serif, verdana;
    font-size: 16px;



    }
}
}
@media screen and (max-width: 767px) {
  .portfolio-box {
    margin-bottom: 10px;

    .hover-box-portfolio  a{
     color: #fff;
    display: block;
    top: 55%;
    padding-top: 15%;
    height: 100%;
    text-decoration: none;
    font-family: "Dosis", sans-serif, verdana;
    font-size: 19px;
    }
}

}

.portfolio-box:hover, .hover-box-portfolio:hover, .hover-box-portfolio img:hover{
  border:none;
  border-radius: 9px;

}
#contato-form span{
  @include titulos-sections;
}
.contato-nome, .contato-email, .contato-mensagem {

  margin-top: 10px;
  margin-bottom: 10px;

  background-color: #414141;
 padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #383838;
    border-radius: 4px;
  box-shadow: 0px 0px 1px #615E5E;
  -webkit-box-shadow: 0px 0px 1px #615E5E;
  -moz-box-shadow: 0px 0px 1px #615E5E;
  -o-box-shadow: 0px 0px 1px #615E5E;
  -ms-box-shadow: 0px 0px 1px #615E5E;


  input {

border: none;
  width: 80%;
  margin-left: 6px;
  background-color: #414141;
  text-align: center;
  color: rgb(0, 110, 142);
  font-family: Dosis, verdana;
  font-size: 18px;
  padding-left: 7%;
}

textarea {
  border: none;
  width: 80%;
  margin-left: 6px;
  background-color: #414141;
  text-align: center;
  color: rgb(0, 110, 142);
  font-family: Dosis, verdana;
  font-size: 18px;
  padding-left: 7%;
  resize:none;
}
}
.contato-nome input:focus, .contato-email input:focus, .contato-mensagem textarea:focus,{
   box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;

}
.contato-mensagem textarea {
  height: 200px;
}

.contato-nome i, .contato-email i, .contato-mensagem i{
    font-size: 20px;

  }
.bt-enviar {
padding-top: 10px;
padding-bottom: 10px;

button {
  background-color: rgb(0, 110, 142);
  /* border: none; */
  padding: 10px 100px;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #545556;
}
}
input:required, textarea:required {
    box-shadow:none;
}
input:invalid, textarea:invalid {
    box-shadow:0;
}