*{
	margin:0;
	padding: 0;
}
@font-face {
 font-family: "myriad_pro";
 src: url("../font/MyriadPro-Regular.woff") format("woff");
}
@font-face {
 font-family: "ubuntu_bold";
 src: url("../font/ubuntu-bold.woff") format("woff");
}
@font-face {
 font-family: "ubuntu";
 src: url("../font/ubuntu.woff") format("woff");
}
body {
	font-family: "myriad_pro";
}
.container-full {
	width: 100%;
}
.container {
	width: 1170px;	
	margin:0 auto;
}
.container.menu_logo_redes {
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_main {
	width: 100%;
	height: 960px;
	background: url('../images/banner_01.png') center;
	background-size:cover;
	background-repeat: no-repeat; 
}
.logo h1{
	font-size: 24px;
	color:#fff;	
}
.menu ul {
	list-style: none;
	text-align: center;
}
.menu li {
	display: inline-block;
}
.menu a {
	color: #e1e1e1;
	font-size: 18px;
	text-decoration: none;
	padding: 0 30px;
	font-family: "ubuntu_bold";
	font-size: 18px;	
}
.menu a.active {
	color: #fff;
}
.menu a:hover {
	color: #fff;
}
.redes_sociais a {
	padding: 0 5px;
}

/* TEXTO E IMAGEM SMARTPHONE */
.text_imagemFone {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.titulo {
	width: 500px;
}
.imagem_fone {
	width: 600px;
	margin-top: 100px;

}
.titulo h2 {
	font-family: "ubuntu_bold";
	font-size: 60px;
	color: #fff;
}
.titulo p {
	margin-bottom: 20px;
}
.titulo p span {
	font-family: "ubuntu";
	color: #fff;
	font-size: 18px;
}
button.download, button.features {
    border: none;
    padding: 17px 40px;
    color: #fff;
	border-radius: 4px;
	font-family: "ubuntu_bold";
	font-size: 18px;
	cursor: pointer;
}
button.download {
	background: #fc6a42;
}
button.features {
	background: #4466c9;
}
.btn_down {
	text-align: center;
}
.firsts_sections, .section_two {
	text-align: center;
	margin: 100px 0;
}
.firsts_sections p span {
	font-family: "ubuntu";
	font-size: 18px;
	color:#999999;
}
.firsts_sections h4 {
	font-family: "ubuntu_bold";
	font-size: 36px;
	color: #648cff;
}
.firsts_sections-itens {
	display: flex;
	justify-content: space-around;
}
.itens {
	width: 370px;
	height: 130px;
	display: flex;
}
.itens-text h5{
	color: #353854;
	font-family: "ubuntu_bold";
	font-size: 24px;
}
.itens-image {
	padding-right: 20px;
}
.itens-text p span {
	font-family: "ubuntu";
	font-size: 16px;
	color: #aeaeae;
}






.middle_sections_content h4 {
	font-family: "ubuntu_bold";
	font-size: 36px;
	color: #648cff;	
	margin: 30px 0;
} 
.middle_sections_content p span {
	font-family: "ubuntu";
	font-size: 18px;
	color:#999999;
}
.middle_sections_content p {
	margin-bottom: 30px;
}
.middle_sections {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 100px auto;

}
.reviews {
	padding: 30px;
	width: 500px;
}
.review_content h5 {
	color: #353854;
	font-size: 24px;
	font-family: "ubuntu";
}
.section_reviews {
	display: flex;
	justify-content: space-between;	

}
.reviews_pding {
	padding-bottom: 100px;
}
.quote_up {
	margin-bottom: 5px;
}
.quote_down {
	display: flex;
	justify-content: flex-end;
}
.full_how_to_download {
	width: 100%;
	background: #648cff;
}
.how_to_download  {
	width: 440px;
	height: 250px;

}
.how_to_download h4 {
	font-family: "ubuntu";
	font-size: 36px;
	color: #fff;
}
.how_to_download p span {
	font-family: "ubuntu";
	font-size: 18px;
	color: #fff;	
}
.before_footer {
	display: flex;
    height: 368px;
	overflow: hidden;
	align-items: center;
    padding-top: 130px;
}

/* FOOTER */
.footer_full {
	background: #353854;
}
.menu_logo_redes.footer{

}
.red {
	color: #fc6a42;
}
.blue {
	color: #648cff;
}
.copyright {
	color: #565b87;
	font-size: 16px;
	font-family: "ubuntu";
	display: flex;
	justify-content: flex-end;
	padding: 40px 0;
	border-top: 2px solid #434769;
}
.btn_toTop {
	width: 100%;
    display: flex;
    justify-content: flex-end;
    right: 50px;
    position: relative;
}
.btn_toTop a span {
    color: #fff;
    background: #434769;
    font-size: 15px;
    text-align: center;
    align-items: center;
    padding: 10px 10px 0px 10px;
}