$cor-fundo-site:  #3C3C3C;
$barra-navegacao-bg:rgba(0, 0, 0, 0.4);
$font-topo : 'Dosis';
$cor-portfolio-box: #F7EAEA;
$azul : #006E8E;
$amarelo: #FFCB00;
$cinza-claro: #474040;
$cinza-escuro: #272727;