@charset "UTF-8";
/* normalize-scss 3.0.2+normalize.3.0.2 | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
/* line 106, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 67, ../sass/partials/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 79, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 93, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 114, ../sass/partials/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 133, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
/* line 143, ../sass/partials/_normalize.scss */
[hidden] {
  display: none;
}

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 152, ../sass/partials/_normalize.scss */
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 164, ../sass/partials/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 173, ../sass/partials/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 185, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 193, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 203, ../sass/partials/_normalize.scss */
blockquote {
  margin: 1.5em 40px;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 212, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 221, ../sass/partials/_normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/* line 236, ../sass/partials/_normalize.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 242, ../sass/partials/_normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

/* line 248, ../sass/partials/_normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 254, ../sass/partials/_normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em;
}

/* line 260, ../sass/partials/_normalize.scss */
h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 272, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 283, ../sass/partials/_normalize.scss */
p,
pre {
  margin: 1.5em 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 293, ../sass/partials/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 301, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 309, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 313, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 325, ../sass/partials/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
}

/* line 346, ../sass/partials/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 354, ../sass/partials/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 366, ../sass/partials/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 381, ../sass/partials/_normalize.scss */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 394, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 406, ../sass/partials/_normalize.scss */
figure {
  margin: 1.5em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 415, ../sass/partials/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 424, ../sass/partials/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 432, ../sass/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 456, ../sass/partials/_normalize.scss */
form {
  margin: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
/* line 470, ../sass/partials/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 488, ../sass/partials/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 499, ../sass/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 514, ../sass/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 529, ../sass/partials/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 538, ../sass/partials/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 549, ../sass/partials/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 564, ../sass/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 581, ../sass/partials/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 592, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}
/* line 602, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 612, ../sass/partials/_normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 628, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 642, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 651, ../sass/partials/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 662, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 667, ../sass/partials/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 6, ../sass/partials/_nav.scss */
.navbar {
  border-radius: 0;
}

/* line 10, ../sass/partials/_nav.scss */
.navbar-default {
  border-color: #2A2626;
  padding: 23px;
  margin: 0;
  background-color: #3a3737;
  box-shadow: 0px 8px 21px #000000;
  box-shadow: 0px 8px 21px #000000;
  -webkit-box-shadow: 0px 8px 21px #000000;
  -ms-box-shadow: 0px 8px 21px #000000;
  -o-box-shadow: 0px 8px 21px #000000;
  -moz-box-shadow: 0px 8px 21px #000000;
}

/* line 19, ../sass/partials/_nav.scss */
.navbar-default .navbar-brand {
  font-family: "Dosis", sans-serif;
  color: #006E8E;
  font-size: 25px;
  text-transform: uppercase;
}

/* line 26, ../sass/partials/_nav.scss */
.navbar-default .navbar-nav > li > a {
  font-size: 18px;
  color: #FFCB00;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
}

/* line 32, ../sass/partials/_nav.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: yellow;
}

/* line 35, ../sass/partials/_nav.scss */
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #0B0707;
}

/* line 39, ../sass/partials/_nav.scss */
.navbar-default .navbar-toggle {
  border-color: #23220B;
}

/* line 43, ../sass/partials/_nav.scss */
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #0B0B0B;
}

/*Bordas Não aparecerem na versão desktop*/
@media screen and (max-width: 767px) {
  /* line 50, ../sass/partials/_nav.scss */
  .nav > li {
    position: relative;
    display: block;
    border-bottom: 1px solid #0B0707;
    border-top: 1px solid #343434;
  }

  /* line 56, ../sass/partials/_nav.scss */
  .nav > li:first-child {
    border-top: 0;
  }

  /* line 59, ../sass/partials/_nav.scss */
  .nav > li:last-child {
    border-bottom: 0;
  }
}
/* line 10, ../sass/styles.scss */
body {
  background: #3C3C3C;
  /* background-image: url(../images/45-degree-fabric-dark.png);*/
}

/* line 14, ../sass/styles.scss */
.name.ng-valid {
  background: green;
}

/* line 18, ../sass/styles.scss */
.name.ng-dirty.ng-invalid-required {
  color: #a04e4e;
}

/* line 21, ../sass/styles.scss */
.name.ng-dirty.ng-invalid-minlength {
  color: #916f30;
}

/* line 30, ../sass/styles.scss */
.icone-valido {
  color: green;
}

/* line 33, ../sass/styles.scss */
.icone-invalido {
  color: #a04e4e;
}

/* line 36, ../sass/styles.scss */
.icone-min {
  color: #916f30;
}

/* line 39, ../sass/styles.scss */
.prox-jogo p {
  font-family: "Dosis";
  color: #fff;
  margin: 0;
  font-size: 20px;
/*  background-color: #272727;
  background-color: rgba(42, 56, 55, 0.65);
  border: 1px solid #181717;
  border: 1px solid #181717;*/
}

/* line 49, ../sass/styles.scss */
.prox-jogo p:last-child {
  font-family: "Dosis";
  color: #F7F7F7;
  margin: 0;
  font-size: 41px;
  text-shadow: 1px 1px 1px #000;
}

/* line 56, ../sass/styles.scss */
.prox-jg-container {
  background-color: #31AF92;
  /*background: url(../images/hdwall.jpg);*/
  background-repeat: repeat;
  background-size: 70%;
  padding-top: 21px;
  /*  padding-bottom: 21px; */
}

/* line 65, ../sass/styles.scss */
.prox-jg-container a i {
  font-size: 39px;
  color: #fff;
}

/* line 70, ../sass/styles.scss */
.prox-jg-container a i:hover {
  color: #FFCB00;
  transition: color 1s linear;
  -webkit-transition: color 1s linear;
  -moz-transition: color 1s linear;
  -o-transition: color 1s linear;
  -ms-transition: color 1s linear;
}

/* line 83, ../sass/styles.scss */
#sobre span {
    margin: 0 auto;
    text-align: center;
    font-size: 29px;
    color: #F53061;
    text-shadow: 1px 1px 1px #000;
    font-weight: lighter;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
}

/* line 86, ../sass/styles.scss */
#sobre p {
    text-align: center;
    color: #999;
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;
}

/* line 95, ../sass/styles.scss */
.sobre-mim {
  background-color: #fff;
  padding: 100px 0px;
/*  border-top: 6px solid #BE3F3F;*/
}


/* line 99, ../sass/styles.scss */
.portfolio {
  background-color: #000;
  padding: 40px 0;
  border-top: 6px solid #BE3F3F;
}

/* line 105, ../sass/styles.scss */
.portfolio p {
  text-align: center;
}
.portfolio p span {
    margin: 0 auto;
    text-align: center;
    font-size: 45px;
    color: #F53061;
    text-shadow: 1px 1px 1px #000;
    font-weight: lighter;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
}

/* line 110, ../sass/styles.scss */
.portfolio-box {
height: 200px;
padding-right: 0px;
padding-left: 0px;
text-align: center;
overflow: hidden;
border: 2px solid #181818;
}
/* line 113, ../sass/styles.scss */
.portfolio-box img {
  width: 100%;
  height: 200px;
}
/* line 120, ../sass/styles.scss */
.portfolio-box .hover-box-portfolio {
  display: block;
  position: absolute;
  text-align: center;
  height: 100%;
  background-color: #FFCB00;
  width: 0%;
  opacity: 0;
  color: #fff;
  border: 4px solid #2dd8b8;
}
/* line 130, ../sass/styles.scss */
.portfolio-box .hover-box-portfolio img {
  width: 40px;
  height: 40px;
}

/* line 137, ../sass/styles.scss */
.portfolio-box:hover .hover-box-portfolio {
  opacity: .9;
  /* -webkit-transition: opacity 1s ease-in;
  -o-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in; */
  width: 100%;
  transition: width 1s cubic-bezier(0.24, 1.32, 0.44, 1.46);
  -webkit-transition: width 1s cubic-bezier(0.24, 1.32, 0.44, 1.46);
  -moz-transition: width 1s cubic-bezier(0.24, 1.32, 0.44, 1.46);
  -o-transition: width 1s cubic-bezier(0.24, 1.32, 0.44, 1.46);
  -ms-transition: width 1s cubic-bezier(0.24, 1.32, 0.44, 1.46);
}

@media screen and (min-width: 992px) {
  /* line 155, ../sass/styles.scss */
  .portfolio-box {
    margin: 2%;
  }
  /* line 158, ../sass/styles.scss */
  .portfolio-box .hover-box-portfolio a {
    color: #000;
    font-weight: bolder;
    display: block;
    top: 50%;
    padding-top: 30%;
    height: 100%;
    text-decoration: none;
    font-family: "Dosis",sans-serif, verdana;
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 174, ../sass/styles.scss */
  .prox-jg-container {
background-color: #31AF92;
    background-repeat: repeat;
    background-size: 100%;
    padding-top: 21px;
    /*  padding-bottom: 21px; */
  }

  /* line 183, ../sass/styles.scss */
  .portfolio-box {
    margin: 2%;
  }
  /* line 186, ../sass/styles.scss */
  .portfolio-box .hover-box-portfolio a {
    color: #000;
    font-weight: bolder;
    display: block;
    top: 50%;
    padding-top: 20%;
    height: 100%;
    text-decoration: none;
    font-family: "Dosis", sans-serif, verdana;
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  /* line 202, ../sass/styles.scss */
  .prox-jg-container {
background-color: #31AF92;
    background-repeat: repeat;
    background-size: 200%;
    padding-top: 21px;
    /*  padding-bottom: 21px; */
  }

  /* line 211, ../sass/styles.scss */
  .portfolio-box {
    margin-bottom: 10px;
  }
  /* line 214, ../sass/styles.scss */
  .portfolio-box .hover-box-portfolio a {
    color: #000;
    font-weight: bolder;
    display: block;
    top: 55%;
    padding-top: 15%;
    height: 100%;
    text-decoration: none;
    font-family: "Dosis", sans-serif, verdana;
    font-size: 19px;
  }
}
/* line 235, ../sass/styles.scss */
#contato-form span {
    margin: 0 auto;
    text-align: center;
    font-size: 29px;
    color: #F53061;
    text-shadow: 1px 1px 1px #000;
    font-weight: lighter;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
}
#contato-form p {
  text-align: center;
  color: #fff;
  font-weight: bolder;
  font-size: 20px;
}

/* line 238, ../sass/styles.scss */
.contato-nome, .contato-email, .contato-mensagem {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #414141;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #383838;
  border-radius: 4px;
  box-shadow: 0px 0px 1px #615E5E;
  -webkit-box-shadow: 0px 0px 1px #615E5E;
  -moz-box-shadow: 0px 0px 1px #615E5E;
  -o-box-shadow: 0px 0px 1px #615E5E;
  -ms-box-shadow: 0px 0px 1px #615E5E;
}
/* line 255, ../sass/styles.scss */
.contato-nome input, .contato-email input, .contato-mensagem input {
  border: none;
  width: 80%;
  margin-left: 6px;
  background-color: #414141;
  text-align: center;
  color: #006e8e;
  font-family: Dosis, verdana;
  font-size: 18px;
  padding-left: 7%;
}
/* line 268, ../sass/styles.scss */
.contato-nome textarea, .contato-email textarea, .contato-mensagem textarea {
  border: none;
  width: 80%;
  margin-left: 6px;
  background-color: #414141;
  text-align: center;
  color: #006e8e;
  font-family: Dosis, verdana;
  font-size: 18px;
  padding-left: 7%;
  resize: none;
}

/* line 281, ../sass/styles.scss */
.contato {
  padding: 40px 0;
  border-top: 6px solid #BE3F3F;
}

/* line 284, ../sass/styles.scss */
.contato-nome input:focus, .contato-email input:focus, .contato-mensagem textarea:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

/* line 290, ../sass/styles.scss */
.contato-mensagem textarea {
  height: 200px;
}

/* line 294, ../sass/styles.scss */
.contato-nome i, .contato-email i, .contato-mensagem i {
  font-size: 20px;
}

/* line 298, ../sass/styles.scss */
.bt-enviar {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 302, ../sass/styles.scss */
.bt-enviar button {
  background-color: #006e8e;
  /* border: none; */
  padding: 10px 100px;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #545556;
}

/* line 312, ../sass/styles.scss */
input:required, textarea:required {
  box-shadow: none;
}

/* line 315, ../sass/styles.scss */
input:invalid, textarea:invalid {
  box-shadow: 0;
}

/* line 319, ../sass/styles.scss */
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  background-color: #3CB7BC;
  color: #fff;
  transition: background-color 1s linear;
}

/* line 325, ../sass/styles.scss */
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  background-color: #3CB7BC;
  color: #fff;
  transition: background-color 1s linear;
}

#contato-form ul {
  text-align: center;
  padding: 0;
}
#contato-form li {
  display: inline-block;
}
#contato-form i {
  font-size: 70px;
  margin: 0 13px;
  color: #F53061;
  text-shadow: 1px 1px 1px #000;
}
.rodape {
  background: #000;
}
.rodape p {
  margin: 10px 0;
  color: #fff;

}
.lista-skills ul{
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.lista-skills li {
  display: inline-block;
  color: #fff;
  font-size: 38px;
  padding: 12px 3px;
}
.box-skills {
  background-color: #226354;
}
/*.servicos {
  background: #303030;
  padding: 40px 0;
}
.servicos i {
  color: #fff;
  padding: 30px 10px;
  font-size:40px;
}
.servicos ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.servicos li {
  display: inline-block;
}
.card-servicos{
  border-bottom: 4px solid #871818;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.38);
margin-top: 19px;
margin-bottom: 19px;
border-radius: 3px;
}
.card-servicos i {
  color: #232323;
padding: 30px 10px;
font-size: 174px;
}

.card-servicos h4 {
  font-size: 13px;
color: #151413;
text-align: left;
padding: 42px 0px;
text-transform: uppercase;
font-weight: bolder;
}*/