@font-face {
    font-family: phantomBold;
    src: url('../font/PantonExtrabold.otf');
}
@font-face {
    font-family: phantomSemiBold;
    src: url('../font/PantonSemibold.otf');
}
@font-face {
    font-family: phantomXBold;
    src: url('../font/PantonBold.otf');
}
body {
    margin: 0;
    padding: 0;

}
h2, h1 {
    letter-spacing: 12px;
}
span {
    letter-spacing: 1px;
}
.itens_download {
    align-items: center;
    display: flex;
}
.download-now span {
    color: #B14AB5;
    font-size: 15px;
    text-align: right;
    font-family: phantomBold, helvetica;
}
.download-now img {
    width: 105px;
}

@media(min-width:993px){
    .header {
        background: url(../images/banner_full.png);
        height: 895px;
        background-size: 100%;
        max-width: 100%;
        margin: 0 auto;
        background-repeat: no-repeat;
    }
    .download-now {
        width: 306px;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width:1273px){
    .header{
        height: 995px;   
    }
}
@media (min-width:1348px){
    .header{
        height: 1095px;   
    }
}
@media (min-width:1566px){
    .header{
        height: 1315px;   
    }
}
@media(max-width:992px){
    .header {
        background: url(../images/banner-ok_02.png) center; 
        margin: 0 auto;
        background-repeat: no-repeat;
        min-height: 655px;
        display: flex;
        align-items: center;
        background-size:cover;
    }
    .download-now {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    .download-now span {
        margin-right: 4px;
    }
}

/* SMARTHPHONE AND TEXT */
.grid.smartphone-content{
    bottom: 100px;
    /* position: relative; */
}
.column.smartphone_text {
    display: flex;
    align-items: center;
    justify-content: start;
}
.column.smartphone_hand {
/* 
    height: 485px;
    width: 100%;
    right: 0;
    bottom: 50%;
    margin-bottom: -210px;
    padding: 0; */
}
@media (max-width:959px){
    .smartphone-hand__right {
        background: none; 
    }
    .column.smartphone_text {
        justify-content: center;
        display: flex;
    }
}
@media (min-width:960px){
.smartphone-hand__right {
    background: url(../images/Smartphone-Hand-3.png) no-repeat center; 
    background-size: 46%;
    background-position-x: right;
    padding: 101px 0px 130px 0px;
    position: relative;
    bottom: 62px;
}
}

.smartphone_tela img {
    width: 100%;
}
.smartphone_text h1, .smartphone_text h2{
    color: #FF8D6A;
    /* font-size: 45px; */
    font-size: calc( 17px + (17 - 11) * ( (100vw - 400px) / ( 800 - 400) ));
    font-family: phantomBold, helvetica;
}
.smarth_text_small {
    display: flex;
    margin: 20px 0;
}
.smartphone_text span {
    font-family: phantomSemiBold;
    font-size: 16px;
    color: #95989A;
}
.smarth_text_small.list_circle:before {
    content:'•';
    height: 20px;
    width: 20px;
    color: #95989A;
}
.smartphone_text img {
    margin-right: 20px;
}
.smarthphone-image__box {
    display: flex;
    align-items: center;
    height: 70px;
    width: 85px;
}
.smarthphone-image__one{
    background: url('../images/icon1.png') no-repeat center;
}
.smarthphone-image__two{
    background: url('../images/icon2.png') no-repeat center;
}
.smarthphone-image__three{
    background: url('../images/icon3.png') no-repeat center;
}

/* HAND section */
.smartphone-text__hand-title h2{
    color: #B14AB5;
}
/* .hand {
    background: url(../images/Smartphone-Hand-3.png) no-repeat center;
    background-size: 100%;
    height: 100%;
} */
.smarth_text_small {
    align-items: center;
}
@media(max-width:959px){
    .hand {
        display: none;
    }
}

@media(max-width:959px){
    .smartphone-text__hand-title, .smarth_text_small, .smartphone-text__title{
        display: flex;
        justify-content: center;
    }

    .grid.contato-box {
        margin-bottom: 15px;
    }
    .contato-box__footer {
        display: none;
    }
}
/* KINVO INVEST */
.invest-box {
    position: relative;
    bottom: 55px;
}
.kinvo-invest__box h2 {
    color: #03B2CF;
}
.some-smarth {
    border-bottom: 1px solid #ccc;
}
.some-smarthphoneshand {
    background: url('../images/Smartphone-Hand-4.png') no-repeat center;
    height: 650px;
}
.smart {
    width: 100%;
}
.smartphone-contact__title h2 {
    color: #1DC696;
}

.smartphone-form input, textarea {
    border: 1px solid #DEDBCC;
    width: 100%;
    padding-left: 10px;
}
textarea {
    padding-top: 10px;
}
.smartphone-form input {
    height: 50px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #95989A;
    font-size: 14px;
    font-family: phantomSemiBold, helvetica;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #95989A;
    font-size: 14px;
    font-family: phantomSemiBold, helvetica;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #95989A;
    font-size: 14px;
    font-family: phantomSemiBold, helvetica;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #95989A;
    font-size: 14px;
    font-family: phantomSemiBold, helvetica;
    font-size: 14px;
  }
  .smartphone-form button {
    background: transparent;
    border: 1px solid #DEDBCC;
    height: 50px;
  }
  .smarth_button {
    display: flex;
    justify-content: space-between;
  }
  .btn-cancel button {
    color: #95989A;  
    font-family: phantomSemiBold;
  
  }
  .btn-send button{
    color:#fff;
    font-family: phantomXBold;
    background: #95989A;
  }
  .smarth_button button {
    padding: 10px 30px;
    font-size: 14px;
  }
  .grid.contato-box {
    position: relative;
    top: 20px;
}
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    align-items: center;
    display: flex;
  }
  .copyright {
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 35px;
  }

  .copyright > div {
    align-items: center;
    display: flex;
    padding: 0px 20px;
  }
  .copyright p {
      font-size: 14px;
      font-family: phantomSemiBold;
      color: #95989A;
  }
  .download-now__footer{
    display: flex;
    justify-content: space-between;
    width: 303px;
    align-items: center;
  }
  .download-now__footer span {
    color: #1DC696;
    font-size: 15px;
    text-align: right;
    margin-right: 4px;
    font-family: phantomBold, helvetica;
}
.download-now__footer img {
    width: 105px;
}

.section-middle {
    margin: 0px 0;
}
.section-gb__hand img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #95989A;
}
